/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

   div.highlighter-rouge,figure.highlight {
    position: relative;
    margin-bottom: 1em;
    background: #263238;
    color: #eff;
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    font-size: .75em;
    line-height: 1.8;
    border-radius: 4px
}

div.highlighter-rouge>pre,div.highlighter-rouge pre.highlight,figure.highlight>pre,figure.highlight pre.highlight {
    margin: 0;
    white-space: pre-line;
    padding: 1em
}

.highlight table {
    margin-bottom: 0;
    font-size: 1em;
    border: 0
}

.highlight table td {
    padding: 0;
    width: calc(100% - 1em);
    border: 0
}

.highlight table td.gutter,.highlight table td.rouge-gutter {
    padding-right: 1em;
    width: 1em;
    color: #b2ccd6;
    border-right: 1px solid #b2ccd6;
    text-align: right
}

.highlight table td.code,.highlight table td.rouge-code {
    padding-left: 1em
}

.highlight table pre {
    margin: 0
}

.highlight pre {
    width: 100%
}

.highlight .hll {
    background-color: #eff
}

.highlight .c {
    color: #b2ccd6
}

.highlight .err {
    color: #f07178
}

.highlight .k {
    color: #c792ea
}

.highlight .l {
    color: #f78c6c
}

.highlight .n {
    color: #eff
}

.highlight .o {
    color: #89ddff
}

.highlight .p {
    color: #eff
}

.highlight .cm {
    color: #b2ccd6
}

.highlight .cp {
    color: #b2ccd6
}

.highlight .c1 {
    color: #b2ccd6
}

.highlight .cs {
    color: #b2ccd6
}

.highlight .gd {
    color: #f07178
}

.highlight .ge {
    font-style: italic
}

.highlight .gh {
    color: #eff;
    font-weight: bold
}

.highlight .gi {
    color: #c3e88d
}

.highlight .gp {
    color: #b2ccd6;
    font-weight: bold
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #89ddff;
    font-weight: bold
}

.highlight .kc {
    color: #c792ea
}

.highlight .kd {
    color: #c792ea
}

.highlight .kn {
    color: #89ddff
}

.highlight .kp {
    color: #c792ea
}

.highlight .kr {
    color: #c792ea
}

.highlight .kt {
    color: #ffcb6b
}

.highlight .ld {
    color: #c3e88d
}

.highlight .m {
    color: #f78c6c
}

.highlight .s {
    color: #c3e88d
}

.highlight .na {
    color: #82aaff
}

.highlight .nb {
    color: #eff
}

.highlight .nc {
    color: #ffcb6b
}

.highlight .no {
    color: #f07178
}

.highlight .nd {
    color: #89ddff
}

.highlight .ni {
    color: #eff
}

.highlight .ne {
    color: #f07178
}

.highlight .nf {
    color: #82aaff
}

.highlight .nl {
    color: #eff
}

.highlight .nn {
    color: #ffcb6b
}

.highlight .nx {
    color: #82aaff
}

.highlight .py {
    color: #eff
}

.highlight .nt {
    color: #89ddff
}

.highlight .nv {
    color: #f07178
}

.highlight .ow {
    color: #89ddff
}

.highlight .w {
    color: #eff
}

.highlight .mf {
    color: #f78c6c
}

.highlight .mh {
    color: #f78c6c
}

.highlight .mi {
    color: #f78c6c
}

.highlight .mo {
    color: #f78c6c
}

.highlight .sb {
    color: #c3e88d
}

.highlight .sc {
    color: #eff
}

.highlight .sd {
    color: #b2ccd6
}

.highlight .s2 {
    color: #c3e88d
}

.highlight .se {
    color: #f78c6c
}

.highlight .sh {
    color: #c3e88d
}

.highlight .si {
    color: #f78c6c
}

.highlight .sx {
    color: #c3e88d
}

.highlight .sr {
    color: #c3e88d
}

.highlight .s1 {
    color: #c3e88d
}

.highlight .ss {
    color: #c3e88d
}

.highlight .bp {
    color: #eff
}

.highlight .vc {
    color: #f07178
}

.highlight .vg {
    color: #f07178
}

.highlight .vi {
    color: #f07178
}

.highlight .il {
    color: #f78c6c
}
